*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
}
.wrapper{
    width: 100%;
    max-width: 400px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: auto;
    background-color: pink;
}
.box.active{
    background-color: green;
}
.box{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgb(126, 145, 255);
    color: rgb(197, 20, 144);
}


